@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

body {
  background-image: url("https://images.unsplash.com/photo-1520038410233-7141be7e6f97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.color-box {
  border: 2px solid transparent;
  height: 200px;
  width: 200px;
  border-radius: 25px;
}

.color-box:hover {
  box-shadow: 8px 8px 5px grey;
}

.color-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 10px;
}

.buttons {
  width: 100%;
  margin: auto;
}

button {
  height: auto;
  border-radius: 15px;
  background-color: rgb(242, 200, 145);
  font-size: large;
}
